@keyframes example {
	from {
		top: 100px;
		left: 200px;
		opacity: 1;
	}

	to {
		top: 30px;
		left: 230px;
		opacity: 0;
	}
}

/* The element to apply the animation to */
.animate {
	display: inline;
	position: absolute;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}