.sentense {
    width: 800px;
    margin: 0 auto;
}
.typingText {
    font-size: 24px;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
}




.symbols{
    
    margin-right: 5px;
}


// .animate{
// 	animation: 3s linear 1s infinite alternate slidein;
// }

@keyframes example {
    from {
        top: 0;
        left : 0;
        opacity: 1;
    }
    to {
        top: 70px;
        left: 70px;
        opacity: 0;
    }
}

/* The element to apply the animation to */
.animate {
    display: inline;
    position: absolute;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}






